.header {
    font-size: 5vw;
    text-align: center;
}

img {
    width: 2vw;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    }



.reviewtext {
    margin-top: 5px;
    margin-bottom: 20px;
}

.LikeDislike img {
    width: 1vw;
    margin-right: 5px;
    margin-bottom: 0px;
}

dislike {
    width: 2vw;
}

.NReview {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review {
    padding-left: 10px;
}

.LikeDislike {
    padding-left: 10px;
}
