@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.header {
             grid-area: h;
             background-color: #3366ff;
             padding: 10px;
             line-height: 1em;
             color: aliceblue;
            font-family: Lora, Helvetica, Arial, sans-serif;
}
.header img {
    width: 100px;
    float: left;
}
.choose_city {
    margin: 0;
    padding:4px;
    display: inline;
    margin-right: 5px;
    font-size: small;
}
.choose_city a {
    text-decoration: none;
    color: black;
}